body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', serif;
}

a {
  padding: .3em;
  color: #000;
  text-decoration: none;

  transition: background-color .3s;
}
a:hover {
  color: #FFF;
  background-color: #000;
}

nav ul {
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline;
}

.container {
  margin: 0 auto;
  width: 70%;
}

.title {
  margin: 15% auto 0 auto;
  font-size: 4em;
  font-family: 'Tulpen One', 'Times New Roman', serif;
  -webkit-user-select: none;
}

.slogan {
  font-weight: normal;
}

.index-ornament {
  margin-top: 0;
  font-weight: normal;
  -webkit-user-select: none;
}
