<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="AnqurVanillapy's Blog">
  <meta name="author" content="AnqurVanillapy">
  <link rel="icon" href="../site/static/img/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Tulpen+One|Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../site/static/src/style.css">

  <title>AnqurVanillapy</title>
</head>
<body>
  <div class="container">
    <h1 class="title">AnqurVanillapy</h1>

    <nav>
      <ul>
        <li><a href="#">&#x224B; About</a></li>
        <li><a href="#">&#x224B; Projects</a></li>
        <li><a href="#">&#x224B; Archives</a></li>
      </ul>
    </nav>

    <h2 class="index-ornament">&mdash; &#x269C; &mdash;</h2>
    <h3 class="slogan">&times; Time is running out. Make a move.</h3>
  </div>

  <script type="text/javascript" src="../site/static/src/index.js"></script>
</body>
</html>
