<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="AnqurVanillapy's Blog">
  <meta name="author" content="AnqurVanillapy">
  <link rel="icon" href="static/img/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed|Oxygen|PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="static/src/style.css">

  <title>Horrible RAM | AnqurVanillapy's Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="title"><a href="index.html">Horrible RAM</a></h1>
    <nav>
      <ul>
        <li><a href="https://plus.google.com/u/0/115122874409553592361">&#x224b; G+</a></li>
        <li><a href="https://github.com/anqurvanillapy">&#x224b; GitHub</a></li>
        <li><a href="https://twitter.com/anqurvanillapy">&#x224b; Twitter</a></li>
        <li><a href="cv.html">&#x224b; CV</a></li>
      </ul>
    </nav>

    <h2 class="index-ornament no-select">&mdash; &#x2020; &mdash;</h2>

    {% for post in posts %}
      {% if post['date'] %}
      <div class="post">
        <h1>&#x224b; <a href="{{ post['fnext'] }}">{{ post['title'] }}</a>
          <span class="date">{{ post['date'] }}</span>
        </h1>
      </div>
      {% endif %}
    {% endfor %}

    <footer>
      <h2 class="index-ornament no-select">&ldquo; Sup, memer? &rdquo;</h2>
      <small>
      <p class="copy"><code>
        &#x2774;
        {% if thisyear == inityear %}
          est: "{{ inityear }}",
        {% else %}
          active: "{{ inityear }}-{{ thisyear }}",
        {% endif %}
        content: "A Blog by
        <a href="https://github.com/anqurvanillapy/anqurvanillapy.github.io/tree/src">AnqurVanillapy</a>",
        license:
        "<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa-4.0</a>"
        &#x2775;
      </code></p>
      <p class="slogan no-select">
        <code>/* Time is running out. Make a move. */</code>
      </p>
      </small>
    </footer>
  </div>
</body>
</html>
