<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="AnqurVanillapy's Blog">
  <meta name="author" content="AnqurVanillapy">
  <link rel="icon" href="static/img/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed|Oxygen|PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="static/src/style.css">

  <title>Horrible RAM | AnqurVanillapy's Blog</title>
</head>
<body>
  <div class="container">
    <header class="title">
      <a href="/">
        <pre>
 ▄▀▀▄ ▄▄   ▄▀▀▀▀▄   ▄▀▀▄▀▀▀▄  ▄▀▀▄▀▀▀▄  ▄▀▀█▀▄    ▄▀▀█▄▄   ▄▀▀▀▀▄     ▄▀▀█▄▄▄▄  ▄▀▀▄▀▀▀▄  ▄▀▀█▄   ▄▀▀▄ ▄▀▄ 
█  █   ▄▀ █      █ █   █   █ █   █   █ █   █  █  ▐ ▄▀   █ █    █     ▐  ▄▀   ▐ █   █   █ ▐ ▄▀ ▀▄ █  █ ▀  █ 
▐  █▄▄▄█  █      █ ▐  █▀▀█▀  ▐  █▀▀█▀  ▐   █  ▐    █▄▄▄▀  ▐    █       █▄▄▄▄▄  ▐  █▀▀█▀    █▄▄▄█ ▐  █    █ 
   █   █  ▀▄    ▄▀  ▄▀    █   ▄▀    █      █       █   █      █        █    ▌   ▄▀    █   ▄▀   █   █    █  
  ▄▀  ▄▀    ▀▀▀▀   █     █   █     █    ▄▀▀▀▀▀▄   ▄▀▄▄▄▀    ▄▀▄▄▄▄▄▄▀ ▄▀▄▄▄▄   █     █   █   ▄▀  ▄▀   ▄▀   
 █   █             ▐     ▐   ▐     ▐   █       █ █    ▐     █         █    ▐   ▐     ▐   ▐   ▐   █    █    
 ▐   ▐                                 ▐       ▐ ▐          ▐         ▐                          ▐    ▐    
        </pre>
      </a>
    </header>

    <nav>
      <ul>
        <li><a href="https://plus.google.com/+AnqurVanillapy">&#x224b; G+</a></li>
        <li><a href="https://github.com/anqurvanillapy">&#x224b; GitHub</a></li>
        <li><a href="https://twitter.com/anqurvanillapy">&#x224b; Twitter</a></li>
        <li><a href="cv.html">&#x224b; CV</a></li>
      </ul>
    </nav>

    <h2 class="index-ornament no-select">&mdash; &#x2020; &mdash;</h2>

    {% block main %}{% endblock %}
  </div>
</body>
</html>
