{% extends "layout.html" %}
{% block main %}
<div class="post-container">
  <div class="post-body">
    <article>
      <p>&#x224b; {{ meta['date'][0] }}</p>
      <h1>{{ meta['title'][0] }}</h1>
      {{ content }}
    </article>
  </div>
</div>

<footer>
  <h2 class="index-ornament no-select">&ldquo; Back to <a href="#"> #title</a>? &rdquo;</h2>
  <small>
  <p class="copy"><code>
    &#x2774;
    est: "2016", content: "A Blog by
    <a href="https://github.com/anqurvanillapy/anqurvanillapy.github.io/tree/src">AnqurVanillapy</a>",
    license:
    "<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa-4.0</a>"
    &#x2775;
  </code></p>
  <p class="slogan no-select">
    <code>/* Time is running out. Make a move. */</code>
  </p>
  </small>
</footer>
{% endblock %}
