body {
  margin: 0;
  text-align: center;
  font-family: 'Oxygen', serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

h1, h2, h3 {
  font-weight: normal;
}

img:not(.license) {
  max-width: 75%;
  display: block;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: underline;
  transition: color .3s;
  -webkit-transition: color .3s;
}
a:hover {
  color: royalblue;
}
h1 a, h2 a {
  text-decoration: none;
}

nav ul li a {
  padding: .3em;
  color: #000;
  text-decoration: none;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
}
nav ul li a:hover {
  color: #FFF;
  background-color: #000;
}

nav ul {
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline;
}

blockquote {
  padding-left: 1em;
  border-left: solid 5px #ccc;
  color: #666;
}

.container {
  margin: 0 auto;
  max-width: 95%;
}
@media screen and (min-width: 640px) {
  .container {
    margin: 0 auto;
    max-width: 60%;
  }
}

.title {
  margin: 15% auto 0 auto;
  font-family: 'Stint Ultra Condensed', 'Times New Roman', serif;
  font-size: 4em;
  -webkit-user-select: none;
  cursor: default;
}

.index-ornament {
  margin: 0 auto;
  font-family: 'Stint Ultra Condensed', 'Times New Roman', serif;
  cursor: default;
}

.no-select {
  -webkit-user-select: none;
}

.post {
  margin-top: 1em;
  padding: 1em;
  margin-bottom: 1em;
  text-align: left;
  border-bottom: solid 3px #ccc;
  border-right: solid 4px #eee;
}
  .post h1 {
    margin: 0;
    font-family: 'PT Sans Narrow', helvetica;
  }
  .date {
    font-size: .5em;
    color: #333;
  }

.post-container {
  margin-top: 1em;
  padding: 1em;
  border-bottom: solid 3px #ccc;
  border-right: solid 4px #eee;
}
  .post-body {
    text-align: left;
  }
  .post-body h1 {
    font-family: 'PT Sans Narrow', helvetica;
  }
}
